body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('../img/contact.jpg');
  background-size: cover;
}

.icon {
  float: left;
  margin: 15px 10px;
  height: 60px;
}


.box1 a {
   text-decoration: none;
   background-color: none;
}
.box2 a {
   text-decoration: none;
   background-color: none;
}
.box3 a {
   text-decoration: none;
   background-color: none;
}

.box1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0,0,0,.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 10px;
}

.box1 h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  color: lightblue;
  text-align: center;
}

.box1 p  {
  color: antiquewhite;
}

.box1 p a {
  color: darkgoldenrod;
}

.box1 .inputBox {
  position: relative;
}

.box1 .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box1 .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.box1 .inputBox input:focus ~ label, .box1 .inputBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box1 input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}


/* sign in style */

.box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0,0,0,.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 10px;
}

.box2 h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  color: lightblue;
  text-align: center;
}

.box2 p  {
  color: antiquewhite;
}

.box2 p a {
  color: darkgoldenrod;
}

.box2 .signinbox {
  position: relative;
}

.box2 .signinbox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box2 .signinbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.box2 .signinbox input:focus ~ label, .box2 .signinbox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box2 input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}


/* signup styles */
.box3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0,0,0,.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 10px;
}

.box3 h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  color: lightblue;
  text-align: center;
}

.box3 p  {
  color: antiquewhite;
}

.box3 p a {
  color: darkgoldenrod;
}

.box3 .signupbox {
  position: relative;
}

.box3 .signupbox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box3 .signupbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.box3 .signupbox input:focus ~ label, .box3 .signupbox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box3 input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
