* {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(57, 100, 100, 0.6)),url('../img/bg.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.navbar {
  background: rgb(0, 0, 0, 0, 0.5);
  height: 80px;
}

.logo {
  float: left;
  margin: 15px 50px;
  height: 60px;
}

.menu {
  float: left;
  list-style: none;
  margin: 20px;
}

.menu li {
  display: inline-block;
  margin: 10px 5px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.menu li a:hover {
  background: #fff;
  transition: .4s;
  color: #f48042;
}

.menu2 {
  float: right;
  list-style: none;
  margin: 20px;
}

.menu2 li {
  display: inline-block;
  margin: 10px 5px;
}

.menu2 li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.menu2 li a:hover {
  background: #fff;
  transition: .4s;
  color: #f48042;
}

.welcome {
  position: relative;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  top: 160px;
}

.welcome h1 {
  font-size: 42px;
  margin: 25px;
}

.btn {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 5px;
  padding: 7px 10px;
  text-decoration: none;
  border: 1px solid #fff;
}

.btn1 {
  color: #fff;
}

.btn1:hover {
  background: #fff;
  color: #000;
  transition: .4s
}

.btn2 {
  color: #fff;
}

.btn2:hover {
  background: #fff;
  color: #000;
  transition: .4s
}


/* about page styles */
.aboutbg {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 100, 0.5)),url('../img/aboutbg.jpg');
  background-size: cover;
  background-position: center;
}

.box{
  width: 450px;
  background: rgba(152, 112, 170, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.box p{
  text-align: justify;
}

/* services styles */

.servicesbg {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(57, 100, 100, 0.6)),url('../img/servicesbg.jpeg');
}

aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* aside sidebar for get quote */
aside#sidebar .quote input, aside#sidebar .quote  textarea {
  width: 90%;
  padding: 5px;
}

article#main-col { /*setting the get a quote alignment*/
  float: left;
  width: 65%;
}

ul#services li { /*setting border for the article*/
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
  opacity: .5;
}

.page-title { /*setting h1 style*/
  color: #ccc;
  padding-bottom: 15px;
}

.container { /*setting article border*/
  width: 80%;
  margin: 70px;
  overflow: hidden;
}

.dark {
  padding: 20px;
  background: #35424a;
  color: #ffffff;
  margin-top: 26px;
  margin-bottom: 10px;
}

.button1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

@media (min-width: 300px) {
  .menu,
  .menu li,
  .menu li a {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

}
